@import "tailwindcss";

/* Active dark variant en v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* TRANSITION SOFT SUR TOUTES LES COULEURS */
html,
body,
#app,
* {
    transition:
            background-color 0.25s ease,
            color 0.25s ease,
            border-color 0.25s ease,
            fill 0.25s ease,
            stroke 0.25s ease;
}

/* Empêche les transitions au chargement */
html.theme-init * {
    transition: none !important;
}

/* CROSSFADE LÉGER PENDANT LE SWITCH */
html.theme-switching {
    opacity: 0.92;
    transition: opacity 0.25s ease;
}
